#!/usr/bin/env bash

# you can find your security credentials here:
# https://console.aws.amazon.com/iam/home?#/users
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# FULL_NAME=firstname.lastname
# EMAIL=name@domain.com
FULL_NAME=
EMAIL=

# ec2 metadata tags
TICKET_ID=
CLIENT=
PURPOSE=
